.qrcode-icon {
    -fx-image: url(../images/qr-code-white.png);
    -fx-background-size: 16 16;
}

.doc-pane-qr{
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: white;
    -fx-pref-width: 160;
    -fx-pref-height: 265;
    -fx-cursor: HAND;
    -fx-font-family: Arial;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.0, 0, 2);
}

.doc-pane-qr:hover{
    -fx-background-color: #c4c4c4;
}