.seach-button{
    -fx-background-color: transparent;
    -fx-cursor: HAND;
    -fx-border-color: #c5c5c5;
    -fx-border-width: 0 1 0 0;
}

.backspace{
    -fx-background-color: transparent;
    -fx-cursor: HAND;
}

.search-field {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-cursor: TEXT;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.0, 1, 0);
}

.combo-box {
    -fx-background-color:white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.0, 1, 0);
}

.combo-box .list-view{
    -fx-background-color: white;
    -fx-border-color: white;
}

.combo-box .list-cell{
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-cursor: HAND;
}

.combo-box .list-cell:hover{
    -fx-background-color: #c4c4c4;
}

-combo-box .list-cell:selected{
    -fx-background-color: #c4c4c4;
}

.list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: Arial;
}

.list-cell:hover {
    -fx-background-color: #c4c4c4;
}

.progress-indicator{
    -fx-pref-height: 26;
    -fx-progress-color: #8a8a8a;
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar .thumb {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 3px;
}

.scroll-bar .increment-button:hover{
    -fx-background-color:transparent;
}

.scroll-bar .decrement-button:hover{
    -fx-background-color:transparent;
}

.doc-pane{
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: white;
    -fx-pref-width: 160;
    -fx-pref-height: 242;
    -fx-cursor: HAND;
    -fx-font-family: Arial;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.0, 0, 2);
}

.doc-pane:hover{
    -fx-background-color: #c4c4c4;
}
