.root {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
}

.function-pane {
    -fx-background-color:#f0f1f4;
}

.control-pane{
    -fx-background-color:white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.0, 1, 0);
}

.control-button{
    -fx-background-color: white;
    -fx-text-fill:black;
    -fx-font-family:"Arial";
    -fx-font-size:13px;
    -fx-cursor:HAND;
    -fx-border-radius:5;
    -fx-background-radius: 5;
}

.control-button:hover{
    -fx-background-color:#f0f1f4;
}